.project {
    background-color: var(--clr-dark);
    padding-bottom: 5rem;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.projects__heading {
    font-family: var(--header-title);
    font-size: size(--size-3xl);
    color: var(--clr-light);
    padding-top: 5rem;
}

.project__wrapper {
    padding: 20px;
    border-radius: 10px;
    color: var(--clr-light);
}


.project__skill {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
}

.project__img {
    width: 450px;
    height: 250px;
    box-shadow: 0 0 5px black;
}

.project__element {
    font-family: var(--header-title);
    font-size: var(--size-sm);
    border: 1px solid black;
    padding: 3px;
    border-radius: 7px;
    background-color: var(--clr-blue);
    color: var(--clr-light);
    margin-top: 10px;
}

.project__title {
    font-family: var(--header-title);
    margin-top: 10px;
}

.project__desc {
    font-family: var(--content-font);
    margin-top: 10px;
}

.project__link {
    font-family: var(--header-title);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-light);
}


/* xs */
@media (min-width: 475px){
  
    
    .projects {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .projects__heading {
        font-family: var(--header-title);
        font-size: size(--size-2xl);
        color: var(--clr-light);
        padding-top: 5rem;
    }
    
    .project__wrapper {
        padding: 20px;
        border-radius: 10px;
        color: var(--clr-light);
        box-shadow: 0 0 15px var(--clr-slate600);
    }
    
    .project__skill {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
    }
    
    .project__img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 5px
    }
    
    .project__element {
        font-family: var(--header-title);
        font-size: var(--size-sm);
        border: 1px solid black;
        padding: 3px;
        border-radius: 7px;
        background-color: var(--clr-blue);
        color: var(--clr-light);
    }
    
    .project__title {
        font-family: var(--header-title);
    }
    
    .project__desc {
        font-family: var(--content-font);
    }
    
    .project__link {
        font-family: var(--header-title);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light)
    }
} 

/* sm */
/* @media (min-width: 640px){
    
} */

/* md */
@media (min-width: 768px){
   
    
    .projects {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .projects__heading {
        font-family: var(--header-title);
        font-size: size(--size-2xl);
        color: var(--clr-light);
        padding-top: 5rem;
    }
    
    .project__wrapper {
        padding: 20px;
        border-radius: 10px;
        color: var(--clr-light);
        box-shadow: 0 0 15px var(--clr-slate600);
    }
    
    .project__skill {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
    }
    
    .project__img {
        width: 650px;
        height: auto;
        margin-right: auto;
        box-shadow: 0 0 5px
    }
    
    .project__element {
        font-family: var(--header-title);
        font-size: var(--size-sm);
        border: 1px solid black;
        padding: 3px;
        border-radius: 7px;
        background-color: var(--clr-blue);
        color: var(--clr-light);
        margin-top: 10px;
    }
    
    .project__title {
        font-family: var(--header-title);
    }
    
    .project__desc {
        font-family: var(--content-font);
    }
    
    .project__link {
        font-family: var(--header-title);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light)
    }
}
/* lg */
 @media (min-width: 1024px){

    .projects {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;        
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .projects__heading {
        font-family: var(--header-title);
        font-size: size(--size-2xl);
        color: var(--clr-light);
        padding-top: 5rem;
    }
    
    .project__wrapper {
        padding: 20px;
        border-radius: 10px;
        color: var(--clr-light);
        width: calc(100%/2);
        box-shadow: none;
        transition: transform, box-shadow;
    }
    
    .project__wrapper:hover{
        transform: translateY(-20px);
        box-shadow: 0 0 20px var(--clr-slate600);
        transition-duration: 0.2s;
    }
    .project__skill {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
    }
    
    .project__img {
        width: 550px;
        height: 300px;
        box-shadow: 0 0 5px black;
    }
    
    .project__element {
        font-family: var(--header-title);
        font-size: var(--size-sm);
        border: 1px solid black;
        padding: 3px;
        border-radius: 7px;
        background-color: var(--clr-blue);
        color: var(--clr-light);
    }
    
    .project__title {
        font-family: var(--header-title);
    }
    
    .project__desc {
        font-family: var(--content-font);
        margin-right: 90px;
        margin-top: 10px;
    }
    
    .project__link {
        font-family: var(--header-title);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light);
    }
    
    .project__link::after{
        content: '';
        height: 4px;
        width: 0%;
        background-color: var(--clr-light);
        display: block;
        transition: 0.4s ease-in-out;
    }



    .project__link:hover::after{
        content: '';
        height: 4px;
        width: 15%;
        background-color: var(--clr-light);
        display: block;
        transition: 0.4s ease-in-out;
    }
} 

/* xl */
@media (min-width: 1280px){

    
    .projects {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;        
        gap: 1rem;
    }
    
    .projects__heading {
        font-family: var(--header-title);
        font-size: size(--size-2xl);
        color: var(--clr-light);
        padding-top: 5rem;
    }
    
    .project__wrapper {
        padding: 20px;
        border-radius: 10px;
        color: var(--clr-light);
        width: calc(80%/2);
    }
    
    .project__skill {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
    }
    
    .project__img {
        width: 550px;
        height: 300px;
        box-shadow: 0 0 5px black;
    }
    
    .project__element {
        font-family: var(--header-title);
        font-size: var(--size-sm);
        font-weight: 600;
        border: 1px solid black;
        padding: 3px;
        border-radius: 7px;
        background-color: var(--clr-blue);
        color: var(--clr-light);
    }
    
    .project__title {
        font-family: var(--header-title);
    }
    
    .project__desc {
        font-family: var(--content-font);
        margin-right: 160px;
        margin-top: 10px;
    }
    
    .project__link {
        font-family: var(--header-title);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light);
    }
} 

/* 2xl */
/* @media (min-width: 1536px){
    
} */