.contact__me{
    background-color: var(--clr-slate600);
    color: var(--clr-light);
    padding-bottom: 7rem;
}
.contactme__left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.contactme__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 4rem;
    width: 100%;
    background-color: var(--clr-slate800);
    border-radius: 8px;
}

.contactme__info p{
    font-family: var(--header-title);
    font-size: var(--size-lg);
}
.contactme__info img{
    width: 40px;
    height: 40px;
}

.err{
    color: var(--clr-pink);
    font-family: var(--content-font);
    display: flex;
}

.icon{
    padding: 0.5rem;
    background-color: var(--clr-slate400);
    border-radius: 50%;
}

.contactme__heading{
    text-align: center;
    color: var(--clr-light);
    font-family: var(--header-title);
    font-size: var(--size-3xl);
    padding-top: 5rem;
}

.contactme{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:7rem;
    gap: 15rem;
}

.contactme::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 40%;
    background-color: var(--clr-light);
    left: 50%;
    margin-left: 13px;
}

.form__group{
    width: 100%;
    margin-bottom: 2rem;
}

.form__group label{
    font-family: var(--content-font);
    font-size: var(--size-lg);
}

.form__group input,textarea{
    width: 100%;
    font-size: var(--size-base);
    padding: 0.75rem;
    color: var(--clr-slate400);
    background-color: var(--clr-slate800);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 0.4rem;
}

.form__group textarea{
    min-height: 250px;
    resize: vertical;
}
.submit__btn{
    background-color: var(--clr-blue);
    padding: 0.65rem 1.65rem;
    border-radius: 6px;
    color: var(--clr-light);
    font-family: var(--header-title);
    font-weight: 600;
    display: block;
    margin: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.submit__btn:hover{
    box-shadow: 0 0 10px var(--clr-slate800);
    transform: translateY(-3px);
}

@media only screen and (max-device-width: 1023px) {
    .contact__me{
    background-color: var(--clr-slate600);
    color: var(--clr-light);
}
.contactme__left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.contactme__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 4rem;
    background-color: var(--clr-slate800);
    border-radius: 8px;
}

.contactme__info p{
    font-family: var(--header-title);
    font-size: var(--size-lg);
}
.contactme__info img{
    width: 40px;
    height: 40px;
}

.icon{
    padding: 0.5rem;
    background-color: var(--clr-slate400);
    border-radius: 50%;
}

.contactme__heading{
    text-align: center;
    color: var(--clr-light);
    font-family: var(--header-title);
    font-size: var(--size-3xl);
    padding-top: 5rem;
}

.contactme{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top:7rem;
    gap: 5rem;
}

.contactme::after{
   display: none;
}

.form__group{
    width: 100%;
    margin-bottom: 2rem;
}

.form__group label{
    font-family: var(--content-font);
    font-size: var(--size-lg);
}

.form__group input,textarea{
    width: 100%;
    font-size: var(--size-base);
    padding: 0.75rem;
    color: var(--clr-slate400);
    background-color: var(--clr-slate800);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 0.4rem;
}

.form__group textarea{
    min-height: 250px;
    resize: vertical;
}
.submit__btn{
    background-color: var(--clr-blue);
    padding: 0.65rem 1.65rem;
    border-radius: 6px;
    color: var(--clr-light);
    font-family: var(--header-title);
    font-weight: 600;
    display: block;
    margin: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.submit__btn:hover{
    box-shadow: 0 0 10px var(--clr-slate800);
    transform: translateY(-3px);
}
}

@media only screen and (max-device-width:478px){
    .contact__me{
        background-color: var(--clr-slate600);
        color: var(--clr-light);
    }
    .contactme__left{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    .contactme__info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        padding-top:1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
        width: 100%;
        background-color: var(--clr-slate800);
        border-radius: 8px;
    }
    
    .contactme__info p{
        font-family: var(--header-title);
        font-size: var(--size-sm);
    }
    .contactme__info img{
        width: 30px;
        height: 30px;
    }
    
    .icon{
        padding: 0.5rem;
        background-color: var(--clr-slate400);
        border-radius: 50%;
    }
    
    .contactme__heading{
        text-align: center;
        color: var(--clr-light);
        font-family: var(--header-title);
        font-size: var(--size-3xl);
        padding-top: 5rem;
    }
    
    .contactme{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-top:7rem;
        gap: 5rem;
    }
    
    .contactme::after{
       display: none;
    }
    
    .form__group{
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .form__group label{
        font-family: var(--content-font);
        font-size: var(--size-lg);
    }
    
    .form__group input,textarea{
        width: 100%;
        font-size: var(--size-base);
        padding: 0.75rem;
        color: var(--clr-slate400);
        background-color: var(--clr-slate800);
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: 0.4rem;
    }
    
    .form__group textarea{
        min-height: 250px;
        resize: vertical;
    }
    .submit__btn{
        background-color: var(--clr-blue);
        padding: 0.65rem 1.65rem;
        border-radius: 6px;
        color: var(--clr-light);
        font-family: var(--header-title);
        font-weight: 600;
        display: block;
        margin: auto;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .submit__btn:hover{
        box-shadow: 0 0 10px var(--clr-slate800);
        transform: translateY(-3px);
    }

}